Source: i2c-nct6793-dkms
Section: kernel
Priority: optional
Maintainer: Adam Honse <calcprogrammer1@gmail.com>
Build-Depends:
 debhelper-compat (= 11),
 dkms,
Standards-Version: 4.4.1

Package: i2c-nct6793-dkms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dkms
Description: The i2c-nct6793 kernel driver which provides access to Nuvoton Super-IO chips' SMBus controller.
